.about {
    position: relative;
    margin-top: 100vh;
    padding-left: $p-l-S;
    padding-right: $p-r-S;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 10%;
    @media screen and (min-width: 768px) {
        padding-left: $p-l-S;
        padding-right: $p-r-S;
        margin-top: 100vh;
    }
    @media screen and (max-width: 540px) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: 1024px) {
        padding-left: $p-l-M;
        padding-right: $p-r-M;
        margin-top: auto;
        margin-bottom: auto;
    }
    @media screen and (min-width: 1600px) {
        padding-left: $p-l-L;
        padding-right: $p-r-L;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    &__image {
        grid-column: 1 / 8;
        grid-row: 1;
       img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__info{
        // margin: 50px auto;
        grid-column: 6 / -1;
        grid-row: 1;
        z-index: 1;
        // padding-top: 50%;
        @media screen and (max-width: 500px) {
            grid-row: 2;                 
        }
        .info-bg {
            background-color: white;
            text-align: center;
    
            margin-top: 40%;
            @media screen and (max-width: 540px) {
                margin-top: 80%;             
            }
            @media screen and (max-width: 500px) {
                margin-top: 10%;              
            }

            @media screen and (min-width: 1440px) {
                padding: 10%;
            }
             @media screen and (min-width: 768px) {
                padding: 10%;
           }
           @media screen and (max-width: 539px) {
                padding: 10%;
                text-align: justify;
            }
           
        }
        
            
        h2{
            margin-bottom: 20px;
            font-family: $font-title;
            font-weight: 300;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 1;
            @media screen and (min-width: 1600px) {
                font-size: 75px; 
            }
            @media screen and (min-width: 1440px) {
                font-size: 55px; 
            }
            @media screen and (max-width: 768px) {
                font-size: 40px;               
            }
            @media screen and (max-width: 500px) {
                font-size: 30px;               
            }
        }

        p{
            width: 100%;
            color: $DarkGray;
            line-height: 1.5;
            @media screen and (min-width: 1600px) {
                font-size: 25px; 
            }
            @media screen and (min-width: 1440px) {
                font-size: 20px; 
            }
            @media screen and (max-width: 768px) {
                font-size: 18px;          
            }
            @media screen and (max-width: 500px) {
                font-size: 15px;              
            }
        }
           
        }
    }