.creation {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: $p-l-S;
    padding-right: $p-r-S; 

    @media screen and (min-width: 1024px) {
        margin-top: 50px;
        padding-left: $p-l-S;
        padding-right: $p-r-S; 
    }

    @media screen and (min-width: 1440px) {
        margin-top: auto;
        padding-left: $p-l-S;
        padding-right: $p-r-S; 
    }

    @media screen and (min-width: 1600px) {
        padding-left: $p-l-L;
        padding-right: $p-r-L; 
    }


    h2{
        margin-bottom: 30px;
        font-family: $font-title;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;     
        @media screen and (min-width: 1024px) {
            justify-self: flex-start;;
            margin-top: 50px;
            font-size: 50px;
            margin-left: 15px;
            text-align: left;
            order: 1;
        }
    }

    button {
        background-color: white;
        margin: 30px auto;
        width: 160px;
        padding: 15px;
        font-family: $font-title;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;        
        border: 1px solid black; 
        cursor: pointer;
        @media screen and (min-width: 1024px) {
            position: relative;
            top: -125px;
            left: 503px;
            margin-bottom: -116px;
            align-self: flex-start;
            order: 2;
        }

        @media screen and (min-width: 1440px) {
            left: 619px;
        }


    }

    &__picture{
        // color: black;
        padding-left: $p-l-S;
        padding-right: $p-r-S;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        font-family: $font-title;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        justify-content: space-around;

        @media screen and (min-width: 1440px) {
            padding: 0;
        }
        @media screen and (max-width: 360px) {
            padding: 0;
        }
        @media screen and (min-width: 1024px) {
            order: 3;
            margin: 50px auto;
        }
        
        .cards {
            margin: 10px;
            // background:  red;
            position: relative;
            min-height: 120px;
            margin-bottom: 20px;
            width: 100%;
            // min-width: 280px;
            flex-grow: 1;

            @media screen and (max-width: 360px) {
                margin-bottom: 5px;
            }
            
            @media screen and (min-width: 1024px) {
                max-width: 300px;
            }
            @media screen and (min-width: 1440px) {
                max-width: 320px;
            }


            &:first-child{
                background-image: url('/dist/images/mobile/image-deep-earth.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &:nth-child(2){
                background-image: url('/dist/images/mobile/image-night-arcade.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
    
            }

            &:nth-child(3){
                background-image: url('/dist/images/mobile/image-soccer-team.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &:nth-child(4){
                background-image: url('/dist/images/mobile/image-grid.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &:nth-child(5){
                background-image: url('/dist/images/mobile/image-from-above.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &:nth-child(6){
                background-image: url('/dist/images/mobile/image-pocket-borealis.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &:nth-child(7){
                background-image: url('/dist/images/mobile/image-curiosity.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            &:last-child{
                background-image: url('/dist/images/mobile/image-fisheye.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }


           
            @media screen and (min-width: 768px) {
            //    width: 280px;
                &:first-child{
                    background-image: url('/dist/images/desktop/image-deep-earth.jpg');
                }
                &:nth-child(2){
                    background-image: url('/dist/images/desktop/image-night-arcade.jpg');
                }
                &:nth-child(3){
                    background-image: url('/dist/images/desktop/image-soccer-team.jpg');
                    background-position: center top;
                }
                &:nth-child(4){
                    background-image: url('/dist/images/desktop/image-grid.jpg');
                    background-position: center bottm;
                }
                &:nth-child(5){
                    background-image: url('/dist/images/desktop/image-from-above.jpg');
                    background-position: center bottm;
                }
                &:nth-child(6){
                    background-image: url('/dist/images/desktop/image-pocket-borealis.jpg');
                    background-position: center bottm;
                }
                &:nth-child(7){
                    background-image: url('/dist/images/desktop/image-curiosity.jpg');
                    background-position: center bottm;
                }
                &:last-child{
                    background-image: url('/dist/images/desktop/image-fisheye.jpg');
                    background-position: center bottm;
                }
            }


            
            &__title{
                position: relative;
                top: 0;
                left: 0;
                // padding: 35px;
                padding-top: 50px;
                padding-left: 35px;
                color: white;  
                background-color: transparent;
                // width: 280px;    
                height: 100%;
                cursor: pointer;


                @media screen and (min-width: 768px) {
                    padding-left: 0;
                    padding-top: 220px;
                    font-size: 30px;
                    white-space: pre;
                    height: 400px;
                }
                @media screen and (min-width: 1024px) {
                    padding-left: 0;
                    padding-top: 390px;
                    font-size: 35px;
                    height: 600px;
                    left: -77px;
                    // max-width: 345px;
                }
            }
        }
    }
}