header {
    .menu {
        padding-top: 2.5rem;
        padding-left: $p-l-S;
        padding-right: $p-r-S;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        

        @media screen and (min-width: 1440px) {
            padding-top: 5.3125rem;
            padding-left: $p-l-L;
            padding-right: $p-r-L; 
        }
        @media screen and (min-width: 768px) {
            padding-left: $p-l-M;
            padding-right: $p-r-M; 
           
        }

        &__logo{
            width: 9.0625rem;
            height: auto;
            z-index: 2;

            img {
                width: 100%;
                height: auto;
            }

            @media screen and (min-width: 768px) {
                width: 12.5rem;
                height: 2.8125rem;
            }

            @media screen and (min-width: 968px) {
                width: 15.625rem;
            }

            
            
            
        } 
        &__navbar {

            font-family: $font-body;
            font-size: 1.5625rem;
            position: fixed;
            background-color: black;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            padding-top: 9.5rem;
            padding-left: $p-l-S;
            padding-right: $p-r-S;
            height: 100vh;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 500ms, opacity 500ms linear;
            z-index: 1;

            li:not(:last-child){
                margin-bottom: 1.875rem;
            }
            
            &.show {
                visibility: visible;
                opacity: 1;
                transition: opacity 500ms ease-in-out;
            }
            @media screen and (min-width: 768px) {
                padding-top: 11.5625rem;
                padding-left: 6.25rem;
                padding-right: 6.25rem; 
            } 

            @media screen and (min-width: 1021px) {
                position: static;
                visibility: visible;
                opacity: 1;
                background-color: transparent;
                padding-top: 0;
                padding-left: 0;
                padding-right: 0; 
                font-size: 1.5625rem;
                text-transform: capitalize;
                // font-family: $font-body;
                width: auto;
               
                ul {
                    display: flex;
                    flex-direction: row;

                    :not(:last-child){
                        margin-right: 45px;
                    }
                }
            }
            
        }


    
        &__toggle{
            width: $bar-width;
            height: $bar-height + $bar-spacing*2;
            cursor: pointer;   
            z-index: 2;         

            @media screen and (min-width: 1021px) {
               display: none;
            }
        }

        &__hamburger{
            transform: translateY($bar-spacing);
            background: rgba(255, 255, 255, 1);
            transition: all 0ms 300ms;

            // to move the hamburger to the bottom
            &:before{
                content: '';
                position: absolute;
                bottom: $bar-spacing;
                background: rgba(255, 255, 255, 1);
                transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            // to move the hamburger to the top
            &:after {
                content: "";
                position: absolute;
                top: $bar-spacing;
                background: rgba(255, 255, 255, 1);
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &.animate {
                background: rgba(255, 255, 255, 0); 

                &:after {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
                }
                &:before {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
                }
              }
        }

        &__hamburger,
        &__hamburger::after,
        &__hamburger::before{
            height: $bar-height;
            width: $bar-width;
        }

    }
}

