//font color
$White : hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

// font family
$font-title: 'Josefin Sans', sans-serif;
$font-body: 'Alata', sans-serif;

//hamburger menu
$bar-width: 1.625rem;
$bar-height: 0.1875rem;
$bar-spacing: 0.5rem;


///padding for container

// left and right padding
$p-l-S: 1.5625rem;
$p-r-S: 1.5625rem;

$p-l-M: 6.25rem;
$p-r-M: 6.25rem;

$p-l-L: 13.75rem;
$p-r-L: 13.75rem;
// left and right padding

